body {
  padding-top: 2rem;
  background: #454545;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gamesides {
  margin: auto;
  width: fit-content;
  display: flex;
  gap: 25rem;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  margin: auto;
  width: fit-content;
}

.shipsgroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.computershipsgroup {
  text-align: end;
}

.ship {
  border: 3px solid #808080;
  border-radius: 0.5rem;
  padding: 0.15rem;
  background: #d8d7d7;
  display: flex;
  align-items: center;
  height: 2.5rem;
}

.box {
  width: 50px;
  height: 50px;
  border: 0.5px solid rgb(235, 235, 235);
  color: #d8d7d7;
  font-size: 100%;
}

.noroom {
  color: red;
  opacity: 0;
  text-align: center;
}

.gameboardPlayer1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.buttonsandgameboard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
.button {
  width: 40%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 3px solid #ff7b00;
  background: #ffb223;
  box-shadow: 0px 8px #ff7b00;
  /* transition: 0.2s; */
}
button:focus {
  box-shadow: 0px 4px #ff7b00;
  transform: translateY(4px);
  /* transition: 0.2s; */
}

.box,
.ship,
.button {
  cursor: pointer;
}

.photo {
  height: 100%;

  margin-right: auto;
  border-radius: 0.25rem;
}
.destroyer,
.submarine {
  width: 7rem;
}
.battleship {
  width: 9rem;
}
.aircraftcarrier {
  width: 10rem;
}
