body {
  padding-top: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gamesides {
  margin: auto;
  width: fit-content;
  display: flex;
  gap: 25rem;
  border: 1px solid blue;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.container {
  display: flex;
  margin: auto;
  width: fit-content;
}

.shipsgroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.computershipsgroup {
  align-items: end;
}

.box {
  width: 50px;
  height: 50px;
  border: 0.5px solid rgb(235, 235, 235);
}

.notselectedbox {
  border: 2px solid rgb(0, 77, 128);
  background: #97d4e6;
}

.selectedbox {
  border: 2px solid green;
  background: rgb(151, 230, 151);
}
